/* Universal Selectors */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*:focus {
  outline: none !important;
}

input[type="text"] {
  border: none;
  font-size: 1em;
}

input::placeholder {
  border: none;
  font-size: 1em;
  font-style: italic;
}

input[type="checkbox"]:checked + span {
  font-style: italic;
  text-decoration: line-through;
  color: #b9b9b9;
}

button {
  border: none;
}

ul {
  list-style: none;
}

/* To-do list styling */

.btn {
  background-color: #fff;
}

#to-do {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: 4px #a8a5a5 solid;
  box-shadow: 1px 8px 16px #afafaf93;
  width: fit-content;
  margin: 1.3em;
}

.container {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#list li {
  display: flex;
  gap: 8px;
  padding: 0.2em;
  margin-bottom: 5px;
  border-bottom: 1px solid grey;
}

#list span {
  display: flex;
  flex-wrap: nowrap;
  width: 90%;
  justify-content: space-between;
  margin-right: 0.5em;
}

#list i {
  display: inline;
  margin-right: 0.5em;
  cursor: pointer;
}

#list li:last-child {
  margin: none;
  border: none;
}

#clear{
  background-color: #dedede;
  font-weight: 300;
  width: 100%;
  align-content: center;
  justify-content: center;
  transition: ease-in-out 0.1s;
  flex-grow: 1;
}

#clear:hover {
  background-color: #a8a5a5;
}

#clear:active {
  background-color: #5b5b5b;
  color: #bebebe;
}